<header class="site-header card">
    <nav class="site-nav">
        {%- for item in site.nav -%}
            {%- assign result = item.href | slice: 0 -%}
            {%- if result == "/" -%}
                <a class="page-link" href="{{ item.href | relative_url }}">{{ item.title | escape }}</a>
            {%- else -%}
                <a class="page-link" href="{{ item.href }}" target="_blank" rel="nofollow noopener">{{ item.title | escape }}</a>
            {%- endif -%}
        {%- endfor -%}
    </nav>
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}"><h2>{{ site.title | escape }}</h2></a>
    <h3>The Todo List with Consequences</h3>
</header>
