:root {
    --theme-warm-lighter: #ff6427;
    --theme-warm-light: #ff5527;
    --theme-warm: #fa4627;
    --theme-warm-dark: #c6371f;
    --theme-warm-darker: #ad301b;

    --theme-cool-lighter: #00e1f0;
    --theme-cool-light: #00bdca;
    --theme-cool: #009aa4;
    --theme-cool-dark: #006a71;
    --theme-cool-darker: #005257;

    --vp-c-brand-1: var(--theme-cool);
    --vp-c-brand-2: var(--theme-cool-light);
    --vp-c-brand-3: var(--theme-cool-dark);
    --vp-c-brand-soft: var(--theme-cool-lighter);
}

.dark {
    --vp-c-brand-1: var(--theme-warm);
    --vp-c-brand-2: var(--theme-warm-light);
    --vp-c-brand-3: var(--theme-warm-dark);
    --vp-c-brand-soft: var(--theme-warm-lighter);
}