@charset "utf-8";

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: .9rem;
  color: #111111;
  max-width: 35rem;
  margin: 10vw 10vw 10vw auto;
  padding-left: 10vw;
}

.site-header {
  .site-title {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    max-width: 100%;
    display: block;
    overflow: hidden;
    word-break: break-all;
    line-height: 1.2em;
  }
  h2, h3 {
    margin: 0;
  }
  margin-bottom: 2rem;
}

.site-nav {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.page-link {
  color: black;
  margin-right: 1em;
}

.wrapper {
  background-color: rgba(255,255,255,.8);
  padding: 1rem 2rem;
}

.button {
  font-weight: bold;
  border: 1px solid grey;
  text-decoration: none;
  color: #111111;
  padding: .5em;
  display: inline-block;
}

.button.primary {
  font-weight: bold;
  border: 1px solid #090909;
  text-decoration: none;
  color: white;
  padding: .5em;
  display: inline-block;
  background-color: #282828;
}

.background-image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
