---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";
import Hero from "../components/Hero.svelte";
import Metrics from "../components/Metrics.svelte";
import Features from "../components/Features.svelte";
import HowItWorks from "../components/HowItWorks.svelte";
import ForWho from "../components/ForWho.svelte";
import Team from "../components/Team.svelte";
import Footer from "../components/Footer.svelte";
---

<Layout>
  <main>
    <Header client:load />
    <Hero />
    <Metrics client:load />
    <Features />
    <HowItWorks />
    <ForWho />
    <Team />
    <Footer />
  </main>
</Layout>

<style>
  /* Keep all the existing styles */
</style>
