---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.svelte";
import Hero from "../components/Hero.svelte";
import Metrics from "../components/Metrics.svelte";
import Features from "../components/Features.svelte";
import HowItWorks from "../components/HowItWorks.svelte";
import ForWho from "../components/ForWho.svelte";
import Team from "../components/Team.svelte";
import Footer from "../components/Footer.svelte";

type Stats = {
  totalTasks: number;
  activeStakes: number;
  percentageCompletion: number;
};

const stats = await fetch("https://api.taskratchet.com/api2/stats");
const parsedStats: Stats = (await stats.json()) as Stats;
const {
  totalTasks: buildTimeTotalTasks,
  activeStakes: buildTimeActiveStakes,
  percentageCompletion: buildTimePercentageCompletion,
} = parsedStats;
---

<Layout>
  <main>
    <Header />
    <Hero />
    <Metrics
      {buildTimeTotalTasks}
      {buildTimeActiveStakes}
      {buildTimePercentageCompletion}
    />
    <Features />
    <HowItWorks />
    <ForWho />
    <Team />
    <Footer />
  </main>
</Layout>

<style>
  /* Keep all the existing styles */
</style>
