---

---

<nav
  class="bg-white/5 backdrop-blur-md border-b border-solid border-white/10 shadow-lg"
>
  <div class="max-w-4xl mx-auto px-4 flex justify-between items-center h-14">
    <a href="/" class="font-bold text-white">TaskRatchet</a>
    <a href="https://app.taskratchet.com" class="text-gray-400 hover:text-white"
      >Login</a
    >
  </div>
</nav>
